{{#each heros as |hero|}}
  {{log hero.id}}
  <section data-id="{{hero.id}}">
    <h6>Hero:</h6>
    <form contenteditable="true">
      {{limit hero.name 15}}
    </form>
    <p>
      <h6> ID:{{hero.id}}</h6>
      <h6>Location:</h6>
      {{#if hero.location}}
        <form>{{limit hero.location 15}}</form>
      {{else}}
        No location provided.
      {{/if}}
      <h6>Universe:</h6>
      {{#if hero.universe}}
        <form>{{limit hero.universe 15}}</form>
      {{else}}
        No universe provided.
      {{/if}}
    </p>
    <button type="submit" class="btn btn-danger delete-hero">Remove</button>
    <!-- {{> partial}} -->
  </section>

{{/each}}
