{{#each heros as |hero|}}
  <div data-id="{{hero.id}}" class="grid-item">
    <table>
    <tr>
      <th>Hero:</th>
      <th>Location:</th>
      <th>Universe:</th>
      <th>ID:</th>
    </tr>
    <tr>
      {{#if hero.name}}
      <td>{{limit hero.name 15}}</td>
      {{else}}
        <td>None Given</td>
      {{/if}}
      {{#if hero.location}}
        <td>{{limit hero.location 15}}</td>
      {{else}}
        <td>None Given</td>
      {{/if}}

      {{#if hero.universe}}
        <td>{{limit hero.universe 15}}</td>
      {{else}}
        <td>None Given</td>
      {{/if}}
      <td>{{hero.id}}</td>
    </tr>
    <br>
    <!-- {{> partial}} -->
  </table>
  <button type="submit" class="btn btn-danger delete-hero">Remove</button>
  </div>
{{/each}}
