{{#each heros as |hero|}}
  {{log hero.id}}
  <div data-id="{{hero.id}}" class="grid-item">
    <table>
    <tr>
      <th>Hero:</th>
      <th>Location:</th>
      <th>Universe:</th>
    </tr>
    <tr>
      <td>{{limit hero.name 15}}</td>
      {{#if hero.location}}
        <td>{{limit hero.location 15}}</td>
      {{else}}
        No location provided.
      {{/if}}

      {{#if hero.universe}}
        <td>{{limit hero.universe 15}}</td>
      {{else}}
        No universe provided.
      {{/if}}
    </tr>
    <br>
    <!-- {{> partial}} -->
  </table>
  <button type="submit" class="btn btn-danger delete-hero">Remove</button>
  </div>
{{/each}}
